@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import '~bootstrap/dist/css/bootstrap.css';

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.row {
    margin: 0;
    padding: 0;
}

.firstRow {
    margin: 0;
    padding: 0;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.allForm {
    background-color: #A2090D;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 5% 25% 5% 25%;
    width: 75vw;
    height: 75vh ;
    text-align: center;
    position: relative;
}

h1,h2{
    margin: 0;
}

.bloodyImg {
    position: relative;
}

.form-group {
    margin: 0;
    padding: 5% 0% 5% 0%;
}

.imputStyle {
    padding: 0;
    width: 35%;
}

.confirmForm p {
    padding: 5% 0% 5% 0%;
    margin: 0;
}
.btn {
    color: #C12024;
    background-color: lightgray;
    padding: 0.7rem;
    border: 2px solid gray;
}

.confirmButton {

    border: solid 1px #5A0002;
    background-color: #C12024;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}
.confirmB{
    padding-bottom:2%;
}

/* border collor 5A0002
    button background C12024
    background A2090D

 */